<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103498613498-fibcd1si2oe16efsrh8cma011uk0rk7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103498613498-fibcd1si2oe16efsrh8cma011uk0rk7p</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ4tXyiUHaPbXMNUJ6AqfEgTKeUA2IyQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>103498613498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.missingpeple</string>
	<key>PROJECT_ID</key>
	<string>missingpeople-367f5</string>
	<key>STORAGE_BUCKET</key>
	<string>missingpeople-367f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103498613498:ios:b039b6139a213b035f3f43</string>
</dict>
</plist>